@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --laba-primary: #033157;
}

body {
  color: var(--laba-primary);
  background: #f5f5f5;
}

/* Utility per line-clamp */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

